@import "tailwindcss";

@theme {
  --color-primary: #3780ba;
  --color-primary-shadow: rgba(55, 128, 186, 0.815);
}

/* CSS Reset / Starter Styles */
/* *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}